.display-ans {
   padding: 5px 0;
    /* justify-content: space-between; */
}
.display-action-user{
display: flex;
justify-content: space-between;

}
.display-action-btn{
    background-color: white;
    border: none;
    color: rgba(0, 0, 0, 0.486);
    font-size: 16px;
    cursor: pointer;
}
.user-link{
    display: flex;
    align-items: center;
   padding: 0;
   margin: 0;
}
.display-ans-user{
    padding: 0;
    margin: 0;
}
.display-ans-user p{
    padding: 0;
    margin: 0;
}
.display-ans-time{
    font-weight: 600;
    color: rgba(0, 0, 0, 0.712);
}