.ask-question{
    min-height: 100vh;
    background-color: #f1f2f3;
}
.ask-ques-container{
    max-width: 1550px;
    margin: 0;
}
.ask-ques-container h1{
    padding:80px 0 5px 20px;
}
.ask-ques-container form{
    padding: 20px;
}
.ask-form-container{
    padding: 10px 10px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 5%),
    -3px -3px 10px rgb(0 0 0 / 5%)
}
.ask-form-container label h4{
    margin-bottom: 0;
}
.ask-form-container label p{
    margin: 0;
    padding: 3px 0;
    font-size: 13px;
}
.ask-form-container label input,.ask-form-container label textarea{
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.342);
    width: calc(100% - 20px);
    resize: vertical;
    font-family:'Roboto',sans-serif;
}
.review-btn{
    margin: 50px 0;
    padding: 10px;
    color: white;
    background-color: #009dff;
    border: 1px solid #009dff;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 4px;
}
.review-btn:hover{
    background-color: #0086c8;
}