.main-bar{
    width: calc(100% - 324px);
    float: left;
    margin: 25px 0;
    padding: 0;
}
.main-bar-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-bar-header h1{
    font-weight: 400;
}
.main-bar .question-btn{
    padding: 10px;
    text-decoration: none;
    border-radius: 4px;
    color: white;
    background-color: #009dff;
    transition: 0.3s;
    border: none;
    cursor: pointer;
}
.main-bar .question-btn:hover{
    background-color: #0086c8;
}
.display-question-container{
    min-height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fdf7e2;
    border-bottom: solid 1px #edeff0;
    
}
.display-votes-ans{
    padding: 20px;
}
.display-votes-ans p{
    margin: 0;
    text-align: center;
}
.display-question-details{
    flex-grow: 1;
}
.display-question-title{
    text-decoration: none;
    color: #037ecb;
    transition: 0.3s;
}
.display-question-title:hover{
    color: #009dff;
}
.display-question-details p{
    margin: 0;
    padding: 4px;
}
.display-tags-time{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.display-tags{
    display: flex;
    flex-wrap: wrap;
}
.display-tags p{
    background-color:#edeff0 ;
    color:#39739d;
    margin: 2px;
    padding: 4px;
    font-size: 13px;
}